@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#__next,
#root {
  isolation: isolate;
}

/* Projects */
.projects-scrollbar::-webkit-scrollbar {
  height: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}
.projects-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444;
  -webkit-border-radius: 1ex;
}
.projects-scrollbar::-webkit-scrollbar-corner {
  background: #fff3;
}
